<!doctype html>
<html class="yui3-js-enabled" lang="en">
<head>
  <style type="text/css">
  {% block styling %}
  {% endblock %}
  </style>
  <script type="text/javascript">
  {% block script %}
  {% endblock %}
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <title>
      {% block title %}
      {% endblock %}
   </title>
</head>
<body>
  {% block bodycontent %}
  {% endblock %}
</body>
</html>
