<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmaps</title>
    <style>
      html, body{
      height: 100%;
      width:100%;
      margin: 0px;
      padding: 0px
      }
      #main{
      height:100%;
      width:100%;
      }
      #map-canvasz{
      height: 75%;
      width:100%;
      margin: 0px;
      padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
    <script src="../static/heat.js"> </script>

  </head>

  <body>
    <div id="main"> THIS IS A DIV  </div>
    <div id="map-canvas" style="height:100%;"></div>
  </body>
</html>
