{% extends "base.html" %}
{% block title %}
Heatmaps
{% endblock %}
    {% block styling %}
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    {% endblock %}
{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
    <script src="../static/heat.js"> </script>
    {% endblock %}
    {% block bodycontent %}
    <div id="map-canvas">  </div>
    {% endblock %}
</html>
