<html>
  <head>
    HELLO FINAL PROJECT BASIC PAGE
  </head>
  <body>
    
  </body>
  <script>
    function svgloaded() {
    console.log("test");
    var svgEmbed = document.querySelector("#svgembed");
    var svg = svgEmbed.getSVGDocument();
    var td = svg.getElementById("textBlock");
    td.textContent = "Foo";
    var gn = svg.getElementById("greenBlock");
    gn.setAttribute("fill", "#ff0000");
    }
    document.addEventListener("DOMContentLoaded", function(){
    var svgEmbed = document.querySelector("#svgembed");
    svgEmbed.addEventListener("load", svgloaded);
    },false);
</script> 
<object data="/static/logo.svg"></object>
</html>
