<!doctype html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
</head>
<div class="pure-menu pure-menu-open pure-menu-horizontal" style="position:fixed">
  <a href="/" class="pure-menu-heading">ZPaths</a>
  <ul class="pure-menu-list">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#search">Search</a>
    <li><a href="#heatmap">Heatmap</a>
      </li>
  </ul>
</div>

<div class="pure-g">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
  </div>
  </div>

  {% extends "base.html" %}
  {% block title %}
  ZPaths
  {% endblock %}
  {% block styling %}
  body{
  position:absolute;
  top: 0; 
  left: 0;
  height:100%;
  width:100%
  }
  p{
  font-size:250% ;
  letter-spacing: 0em
  }
  
  #heatpage{
  height:100%;
  width:100%
  }
  #search{
  height:100%;
  width:100%;
  vertical-align: middle;
  }
  #about{
  height:100%;
  width:100%;
  vertical-align: middle;s
  }
  #mainpage{
  background-image: url(../static/nyc.jpg); background-color: #99FF99;
  height:100%;
  width:100%
  }
  iframe{
  height:600px;
  width:100%
  }
  {% endblock %}
  {% block script %}
  var logo;
  var svgdoc;
  var svg;

  window.onload=function(){
  logo = document.getElementById("logo");
  svgdoc = logo.contentDocument;
  svg = svgdoc.getElementById("svg2");
  svgdoc.getElementById("path3349").setAttribute("fill", "#808080");
  svgdoc.getElementById("path3353").setAttribute("fill", "000000");
  window.setTimeout("fillblack()",1000);
  window.setTimeout("fillgray()",2000);
  window.setTimeout("fillyellow()",4000);
  };

  function fillblack(){
  svgdoc.getElementById("path3349").setAttribute("fill", "#000000");
  };

  function fillgray(){
  svgdoc.getElementById("path3351").setAttribute("fill", "#808080");
  };

  function fillyellow(){
  svgdoc.getElementById("path3353").setAttribute("fill", "#ffff00");
  };

  {% endblock %}

{% block bodycontent %}
  <div id="mainpage">
  <a name="home">
    <center>
       <br><br><br><br><br><br><br><br><br><br>
       <object id="logo" data="../static/logo.svg" type="image/svg+xml"></object>
       <br><br>
    <a class="pure-button pure-button-primary" href="#search">Click to enter</a>
    </center>
  </div>

    <div id="about">
      <a name="about">
          <center>
                 <br><br><br><br><br><br><br><br><br><br>
             <h2> About </h2><br>
        <h4> ZPaths is here to help you with your everyday New Yorker needs. Upon entering our site, you are given multiple options to choose from for points of interest in the city: from subway entrances, to museums and galleries. We then return a heat map that displays the best areas in New York City to find those points of interest, as well as a bar graph displaying how common these ameneties are in each borough.
        <br><br>
        Created by Christina Ko, Justin Strauss, Fish Milnikiewicz, and Sunnam Quispe
        Stuyvesant High School Class of 2015
        Mike Zamansky's Software Development Course
        Check us out on GitHub
        </h4>
            </center>
    </div>

<hr>

  <div id="search">
    <a name="search">
    <center>
           <br><br><br><br>
           <h2>What do you want to see a heat map of?</h2>

<table class="pure-table">

    <tbody>
        <tr>
           <td align="center"><img src="../static/img/crashes.jpg" alt="Crashes" style="height:200px;"><br><button class="pure-button pure-button-primary">Motor Vehicle Collisions</button></td>
           <td align="center"><img src="../static/img/wifi.jpg" alt="Wifi" style="height:200px;"><br><button class="pure-button pure-button-primary">Wifi Hotspots</button></td>
           <td align="center"><img src="../static/img/libraries.jpg" alt="Libraries" style="height:200px;"><br><button class="pure-button pure-button-primary">Queens Libraries</button></td>
        </tr>

        <tr>
            <td align="center"><img src="../static/img/hospitals.jpg" alt="Hospitals" style="height:200px;"><br><button class="pure-button pure-button-primary">Hospitals</button></td>
            <td align="center"><img src="../static/img/volunteers.jpg" alt="Volunteers" style="height:200px;"><br><button class="pure-button pure-button-primary">Volunteer Opportunities</button></td>
            <td align="center">More datasets to be added <br> once they become available <br> through NYC Open Data.</td>
        </tr>

    </tbody>
</table>
      </center>
  </div>


<div id="heatpage" style="height:100%; width:100%">
  <br><br><center>
  <a name="heat">
  <iframe  src="/heat"></iframe>
  </a>
</center>
</div>
<br>

  {% endblock %}
</html>