<!doctype html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
</head>
<div class="pure-menu pure-menu-open pure-menu-horizontal" style="position:fixed">
  <a href="/" class="pure-menu-heading">ZPaths</a>
  <ul class="pure-menu-list">
    <li><a href="/">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#search">Search</a>
      <ul class="pure-menu-children">
        <li><a href="#heat">Subway Entrances</a></li>
        <li><a href="#heat"></a>NYPD Motor Vehicle Collisions</li>
	<li><a href="#heat"></a>Directory of Eateries</li>
	<li><a href="#heat"></a>Manhattan Street Trees</li>
	<li><a href="#heat"></a>Wifi Hotspots</li>
	<li><a href="#heat"></a>Pay Phones</li>
	<li><a href="#heat"></a>Museums and Galleries</li>
	<li><a href="#heat"></a>Theaters</li>
	<li><a href="#heat"></a>Fields</li>
	<li><a href="#heat"></a>Swimming Pools</li>
	<li><a href="#heat"></a>Beaches</li>
	<li><a href="#heat"></a>Libraries</li>
      </ul>
    </li>
  </ul>
</div>
<div class="pure-g">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <div id="map"></div>

    
  </div>
  {% extends "base.html" %}
  {% block title %}
  Home
  {% endblock %}
  {% block styling %}
  body{
  position:absolute;
  top: 0; 
  left: 0;
  height:100%;
  width:100%
  }
  p{
  font-size:250% ;
  letter-spacing: 0em
  }
  
  #heatpage{
  height:100%;
  width:100%;
  }
  #mainpage{
  background-image: url(../static/nyc.jpg); background-color: #99FF99;
  height:100%;
  width:100%
  }
  {% endblock %}
  {% block script %}
  var logo;
  var svgdoc;
  var svg;

  window.onload=function(){
  logo = document.getElementById("logo");
  svgdoc = logo.contentDocument;
  svg = svgdoc.getElementById("svg2");
  svgdoc.getElementById("path3349").setAttribute("fill", "#808080");
  svgdoc.getElementById("path3353").setAttribute("fill", "000000");
  window.setTimeout("fillblack()",1000);
  window.setTimeout("fillgray()",2000);
  window.setTimeout("fillyellow()",4000);
  };

  function fillblack(){
  svgdoc.getElementById("path3349").setAttribute("fill", "#000000");
  };

  function fillgray(){
  svgdoc.getElementById("path3351").setAttribute("fill", "#808080");
  };

  function fillyellow(){
  svgdoc.getElementById("path3353").setAttribute("fill", "#ffff00");
  };

  {% endblock %}
{% block bodycontent %}
  <div id="mainpage">
    <center>
      <div class="splash-container">
	<div class="splash">
          <h1 class="splash-head">
	    <object id="logo" data="../static/logo.svg" type="image/svg+xml"></object>
	  </h1>

	</div>
      </div>
    </center>
  </div>

<div id="heatpage" style:"height:100%; width:100%">
  <a name="heat">
  <iframe height='100%' height='100%' src="/heat"></iframe>

  </a>
</div>

  <a name="about">
    <div id="apage">
      <p> THIS IS THE ABOUT PAGE. TO BE UPDATED....
	
      </p>
    </div>
  </a>
  {% endblock %}
</html>
